

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% banners.forEach((banner,index) =>{%>
       <% if(index==0){ %>
      <div class="carousel-item active">
        <a href="https://cdn1.inkabet.pe/img/land/inkabet-apuesta-y-gana-el-ultimo-carro-y-450mil-efectivo.jpg" target="_blank">
          <img src= '<%= banner.url%>' class="d-block w-100"
          onError="this.onerror=null;this.src= 'https://cdn1.inkabet.pe/img/land/inkabet-apuesta-y-gana-el-ultimo-carro-y-450mil-efectivo.jpg';" alt="1"></a>
      </div>
      <% } else {%>
       <div class="carousel-item">
         <a href="https://cdn1.inkabet.pe/img/land/inkabet-apuesta-y-gana-el-ultimo-carro-y-450mil-efectivo.jpg" target="_blank">
           <img src= '<%= banner.url%>' class="d-block w-100"
           onError="this.onerror=null;this.src= 'https://cdn1.inkabet.pe/img/land/inkabet-apuesta-y-gana-el-ultimo-carro-y-450mil-efectivo.jpg' ;" alt="2"></a>
       </div>
        <% }%>
       <% })%>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
