

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://cdn1.inkabet.pe/img/land/inkabet-apuesta-y-gana-el-ultimo-carro-y-450mil-efectivo.jpg" target="_blank"><img src="https://cdn1.inkabet.pe/img/land/inkabet-apuesta-y-gana-el-ultimo-carro-y-450mil-efectivo.jpg" class="d-block w-100" alt="la fe"></a>
      </div>
      <div class="carousel-item">
        <a href="https://cdn1.inkabet.pe/img/land/inkabet_lp_promo_casino_duplica_tu_primera_recarga.jpg" target="_blank"><img src="https://cdn1.inkabet.pe/img/land/inkabet_lp_promo_casino_duplica_tu_primera_recarga.jpg" class="d-block w-100" alt="2"></a>
      </div>
      <div class="carousel-item">
        <a href="https://cdn1.inkabet.pe/img/land/inkabet_promo_duplica_tu_primer_deposito_land.jpg" target="_blank"><img src="https://cdn1.inkabet.pe/img/land/inkabet_promo_duplica_tu_primer_deposito_land.jpg" action="/verbanner" class="d-block w-100" alt="3"></a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
