<span class="">
    <link rel="stylesheet" href="/css/index.css" type="text/css"> 
<div id="footer1" class="">
    <footer  class="container mt-5">
        <span  class="row ">
        <!--div class="col"></div>-->
        <div class="col mt-4 mb-3">
            <h6>Apuestas</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="" class="nav-link p-0 text-muted">Futbol</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="" class="nav-link p-0 text-muted">Basquet</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="" class="nav-link p-0 text-muted">Tenis de mesa</a>
                </li>  
            </ul>
        </div>
        <div class="col mt-4 mb-3">
            <h6>Info</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="" class="nav-link p-0 text-muted">Nosotros</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="" class="nav-link p-0 text-muted">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="col mt-4 mb-3">
            <h6>Redes Sociales</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <p class="p-0 text-muted">Siguenos en:</p>
                    
                    <ul class="list-unstyled d-flex">
                        <li class="">
                            <a href="link-dark">
                                <img class="bi" width="27" heith="27" src="/imagenes/Facebook.png" alt="">
                            </a>
                        </li>
                        <li class="ms-3">
                            <a href="link-dark">
                                <img class="bi" width="27" heith="27" src="/imagenes/Instagram.png" alt="">
                            </a>
                        </li>
                        <li class="ms-3">
                            <a href="link-dark">
                                <img class="bi" width="27" heith="27" src="/imagenes/Youtube.png" alt="">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </span>
    </footer>
    <footer class="">
    
        <ul class="nav justify-content-center border-bottom border-top pb-3 mb-3">
            <li class="nav-item">
                <a href="/PoliticasPrivacidad" class="nav-link px-2 text-muted">Politica de privacidad</a>
            </li>
            <li class="nav-item">
                <a href="/reglas" class="nav-link px-2 text-muted">Reglas</a>
            </li>
            <li class="nav-item">
                <a href="/TerminosYCondiciones" class="nav-link px-2 text-muted">Terminos y condiciones</a>
            </li>
        </ul>
        <div class="d-flex justify-content-between ">
            <p>Tim-Bear 2018-2021 | Todos los derechos reservados</p>
        </div>
        
    </footer>
    </div>
</span>