<!DOCTYPE html>
<html>
    <head>
        <title>Tim-Bear</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/index.css" type="text/css"> 
        <link rel="shortcut icon" href="/imagenes/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('menu') %>
        <div class="card-body">
        <a class="link" href="/"> <-Regresar</a>
        <div class="container">
            <h4>Politicas de privacidad:</h4>
            <h5 class="mt-4">RECOPILAMOS, UTILIZAMOS Y PROCESAMOS LA INFORMACIÓN</h5> 
            <h6 class="mt-4">Además de lo indicado anteriormente, los propósitos de esta Política de Privacidad incluyen:</h6>
        <ul class="mt-4">
            <li>
                Permitir proporcionar nuestros servicios y cumplir nuestras obligaciones como se detalla en nuestros Términos y Condiciones.
            </li>
            <li>
                Permitir que no obstante usted ha prestado el consentimiento para el tratamiento de la información, usted lo puede revocar en cualquier momento poniéndose en contacto con nosotros directamente mediante los medios antes indicados.
            </li>
            <li>
                Permitir que cumplamos con nuestras obligaciones bajo nuestra licencia de juego, para cumplir con las normativas contra el lavado de dinero y para proporcionar la protección necesaria contra el juego compulsivo.
            </li>
            <li>
                Permitir cumplir con una obligación legal, una orden judicial, o para ejercery defendernos de las reclamaciones legales.
            </li>
        </ul>         
        </div>
       
        <div id="alineacionder" >
        <img id="imgreglas" src="/imagenes/logo.png" >
         </div>
        </div>


        <%- include('footer')%>
    </body>
</html>