<!DOCTYPE html>
<html>
    <head>
        <title>Tim-Bear</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/imagenes/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('menu')  %>
        
        <form method="post" class="container" action="/registro5">
            <center><h1>¡Crea una nueva cuenta!</h1></center>
            <center>
                <div>
                    ¿Es una persona políticamente expuesta? (PEP)
                    <div class="form-check">
                        <input class="form-check-input1" type="checkbox" name="PEP" var="pep" value="1" id="estadoPEPU">Si
                        <input class="form-check-input2" type="checkbox" name="PEP" var="pep" onclick="onlyOne(this)" value="0" id="estadoPEPU">No
                              </div>
                    
                </div>
              <center>
        </center>
            <center><button type="submit" class="btn btn-dark">FINALIZAR</button></center>
        </form>

        <%- include('footer')%>
    </body>
</html>