<!DOCTYPE html>
<html>
    <head>
        <title>Tim-Bear</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/imagenes/logo.png" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('menu')  %>
        
        <form method="post" class="container"  action="/registro3">
            <center><h1>¡Crea una nueva cuenta!</h1></center>
            <center><div class="mb-3 mt-3 col-6" >
                <label id="etiqueta" class="form-label">Correo electrónico:</label>
                <input type="text" class="form-control" name='correoU' required>
            </div>
        </center>
        <center>
            <div class="mb-3 col-6">
                <label id="etiqueta" class="form-label">Contraseña:</label>
                <input type="text" class="form-control" name='contraU' required>
            </div></center>
            <center>
                <div class="mb-3 col-6">
                    <label id="etiqueta" class="form-label">Confirmar contraseña:</label>
                    <input type="text" class="form-control" name='confirmarcontraU' required>
                </div></center>
                <center>
                    <div class="mb-3 col-6">
                        <label id="etiqueta" class="form-label">Número telefónico:</label>
                        <input type="text" class="form-control" name='numeroU' required>
                    </div></center>
            <center><button type="submit" class="btn btn-dark">SIGUIENTE PASO</button></center>
        </form>

        <%- include('footer')%>
    </body>
</html>