<!DOCTYPE html>
<html>
    <head>
        <title>Tim-Bear</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/imagenes/logo.png" />
        <link rel="stylesheet" href="/css/index.css" type="text/css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('header-rol')  %>
        <div class="card-body">
        <a class="link" href="/"> <-Regresar</a>
        <div class="container">
            <h4>Reglas:</h4>
            <p class= "container mt-3 ">
                El monto mínimo por apuesta es: 0.10 euros (o moneda equivalente). La ganancia máxima por cliente está limitada a la apuesta, día y semana. 
                En caso de fraude o intentos de fraude, especialmente con respecto a la colocación de apuestas, el cliente apostador será inmediatamente suspendido de sus privilegios como cliente.
                Si por alguna razón se da un evento bajo condiciones poco claras o que no estén contemplados por las normas y regulaciones Tim-Bear se reserva el derecho a decidir cuál es el resultado, caso por caso.
                </p>
        </div>

        <div id="alineacionder" >
        <img id="imgreglas" src="/imagenes/logo.png" >
         </div>
        </div>


        <%- include('footer')%>
    </body>
</html>